* {
  box-sizing: border-box;
  --header-color: #14181c;
  --header-text-color: #99aabb;
  --global-search-color: #202428;
  --color-overlay: #474747e6;
}

.light {
  --background-color: #ffffff;
  --secondary-background-color: #ffffff;
  --input-background-color: #e5ebf1;
  --hover-text-color: #424242;
  --text-color: #26343f;
  --accent-color: #fc542f;
  --fog-overlay-color: rgba(87, 87, 87, 0.5);
  background-color: var(--background-color);
  color: var(--text-color);
}
.dark {
  --background-color: #14181c;
  --secondary-background-color: #202428;
  --input-background-color: #2c3440;
  --input-hover-color: #394453;
  --text-color: #99aabb;
  --hover-text-color: #b7c3ce;
  --accent-color: #ff7455;
  --fog-overlay-color: rgba(255, 255, 255, 0.2);
  background-color: var(--background-color);
  color: var(--text-color);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100%;
  height: 100%;
}

.root {
  position: absolute;
  width: inherit;
  height: inherit;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}
button {
  &:hover {
    cursor: pointer;
  }
}
input,
textarea {
  color: var(--text-color);
  background-color: var(--input-background-color);
  border-bottom: 1px solid var(--text-color);
  border-radius: 4px;
  padding: 8px 10px;
  border: 1px solid transparent;
  &:focus {
    outline: none;
  }
}
textarea {
  resize: vertical;
}

.content {
  margin: auto;
  width: 950px;
}

.sectionHeading {
  border-bottom: 1px solid #456;
  color: var(--text-color);
  font-family: Graphik-Regular-Web, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.075em;
  margin-bottom: 0.76923077rem;
  margin-top: 0;
  padding-bottom: 5px;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-inline-start: 0;
}

.globalSearch {
  position: relative;
  #searchBar {
    padding: 2px 4px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    width: 200px;
    background-color: var(--global-search-color);
    border: 1px solid transparent;
    #search {
      box-shadow: 0px 0px 0px 0px;
      margin-left: 1;
    }
    &:focus-within {
      border: 1px solid var(--header-text-color);
    }
  }
  .search__results {
    position: absolute;
    background-color: var(--background-color);
    border: 1px solid var(--header-text-color);
    left: 0;
    right: 0;
    max-height: 332px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: 2px;
    &::-webkit-scrollbar {
      display: none;
    }
    li {
      display: flex;
      column-gap: 10px;
      &:hover {
        cursor: pointer;
        background-color: var(--input-background-color);
      }
      a {
        height: 100%;
        width: 100%;
        padding: 10px 5px;
      }
    }
  }
}

.popup__content {
  color: #99aabb;
  background: var(--secondary-background-color);
  border-radius: 4px;
  padding: 10px;
  width: 50%;
  margin: auto;
}
.popup__overlay {
  position: fixed;
  inset: 0px;
  display: flex;
  background-color: var(--fog-overlay-color);
  justify-content: center;
  z-index: 999;
  pointer-events: auto;
}

.accountHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.date-picker {
  width: auto;
}
.reading {
  background-color: #2db039 !important;
}
.dropped {
  background-color: #a12f31 !important;
}
А .plan-to-read {
  background-color: #c3c3c3 !important;
}
.on-hold {
  background-color: #f1c83e !important;
}
.completed {
  background-color: #26448f !important;
}
.favourited {
  color: #ec294b !important;
}
footer {
  margin-top: 60px;
  padding: 50px 30px;
  display: flex;
  background-color: var(--header-color);
  color: var(--header-text-color);
  width: 100%;
  border-top: 1px solid var(--header-text-color);
}

.theme-picker {
  display: flex;
  flex-direction: column;
}

.theme-preview {
  border: 2px solid var(--header-text-color);
  border-radius: 2px;
  font-weight: 500;
  height: 25px;
  margin-right: 10px;
  padding-left: 2px;
  padding-top: 5px;
  width: 25px;
}

.about {
  display: flex;
  flex-direction: column;
}
