$header-height: 90px;
header {
  margin-bottom: 60px;
}
.headerWrapper {
  background-color: var(--header-color);
  width: 100%;
  height: $header-height;
  z-index: 10;
  color: var(--header-text-color);
  border-bottom: 1px solid var(--header-text-color);
  &__content {
    max-width: 950px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
  }
  .logo {
    height: $header-height;
    img {
      height: inherit;
    }
  }

}
