.recentlyAdded {
  &__row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 10px; 
  }
}
.reviewsList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  column-gap: 10px;
}
.mainPage {
  display: flex;
  flex-direction: column;
  section {
    margin-bottom: 40px;
  }
}
