.journal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
  h1 {
    text-align: center;
    margin: 0px;
    padding: 15px 0;
    font-size: 16px;
    font-weight: 700;
    width: 100%;
    border: 1px solid var(--text-color);
    border-bottom: 0;
  }
}

.table {
  display: table;
  flex-direction: column;
  width: 100%;
  border: 1px solid var(--text-color);
  border-bottom: 0;
  border-spacing: 0;
}
.table__row {
  display: table-row;
  border-bottom: 1px solid var(--text-color);
  .link {
    &:hover {
      text-decoration: underline;
      cursor: pointer;
      word-wrap: break-word;
    }
  }
  .title {
    text-align: left;
  }
  td {
    border-bottom: 1px solid var(--text-color);
  }
}
.table__row > * {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding: 10px 5px;
}
.status {
  width: 5px;
  padding: 0;
}
