.journalWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--text-color);
  background-color: var(--background-color);
  h1 {
    text-align: center;
    margin: 0px;
    padding: 20px 0;
    width: 100%;
    border-bottom: 1px solid var(--text-color);
  }
}
