.profileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 30px 60px;
  .avatarWrapper {
    display: flex;
    align-items: center;
    column-gap: 15px;
  }
  .usernameWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 5px;
    #username {
      font-weight: 600;
      font-size: 22px;
      padding-left: 8px;
    }
  }
}
.profileStats {
  display: flex;
  .statisticCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    .value {
      font-family: Georgia, "Times New Roman", Times, serif;
      font-weight: 400;
      font-size: 21px;
    }
    .definition {
      font-size: 10px;
      color: rgb(102, 119, 136);
      margin-top: 0.6em;
      font-size: 14px;
    }
    &:hover {
      .definition {
        color: #29a2e7;
      }
    }
  }
}

.statBorder {
  background-image: linear-gradient(90deg, #24303c 50%, rgba(36, 48, 60, 0) 0);
  background-position: 0.76923077rem 0;
  background-repeat: repeat-y;
  background-size: 2px 1px;
}
.novelList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  padding: 0;
}
